/* / */
/* Display max 800px" */
#bl_titre{
	width:180px;	
}
#params{
	margin-bottom:3px;
}
#contrib,#disp{
	float:none;	
	display:inline;
}
#contrib{
	line-height:20px;
	margin-right:10px;
}
#recherche,#res_nav{
	margin-left:207px;
}
#recherche{
	padding-left:0;
}
#res_na{
	padding-left:1px;
}
#recherche input{
	font-size:1.5em;	
	
}
#topic_title{
	margin-right:0em;
	width:300px;
}
#form_facets{
	display:block;
}
#slider-range{
	display:none;
}
.navhaut{
	margin-right:0;
}

