/* / */
/* Display max 985px" */
#entete #bl_titre{
	width:205px;	
}
.nav_update{
	display:none;
}
#entete #params{
	margin-bottom:3px;
}
#entete #contrib,#entete #disp{
	float:none;	
	display:inline;
}
#entete #contrib{
	line-height:20px;
	margin-right:10px;
}
#entete #recherche,#entete #res_nav{
	margin-left:207px;
}
#entete #recherche{
	padding-left:0;
}
#entete #res_nav{
	padding-left:1px;
}
#entete #recherche input{
	font-size:1.1em;	
	
}
#entete #topic_title{
	margin-right:0em;
	width:300px;
}
#entete #form_facets{
	display:block;
}
#entete #slider-range{
	display:none;
}
#entete .navhaut{
	margin-right:0;
}

