/* / */
/* Display max 600px" */
#global #entete #contrib,#global .nav a.nav_sec,#global .nav_sec,#global .mode_plus,#global #facets .mode_plus{
	display:none;	
}
#global nav{
	position:absolute;
	top:-100px;		
}
#global #entete #bl_titre{
	padding-left:2%;
	width:190px;
	padding-top:13px;
}
#global #img_crotos{
	height:100%;
	width:50px;	
	margin-bottom:10px;
}
#global #bl_titre h1{
	margin-left:55px;
	font-weight:bold;
	font-size:22px ;
} 
#global #callisto,#global #lab,#global #cosmos{
	display:inline;
}
#global #cosmos{
	margin-left:6px
}
#global #cosmos::after { 
	content: " - ";
}
#global #callisto{
	margin-left:0px
}
#global #callisto::after { 
	content: " - ";
}
#global #lab{
	margin-left:0px
}
#global #new{
	margin-top:0;
	margin-left:57px;
}
#global a img{
	border:0;
}
#global #entete #params{
	padding-top:2px;
	padding-right:2%;
	margin-bottom:10px;	
}
#global .paralab{
	display:none;
}
#global #params select{
	display:block;
	clear:right;
	float:right;
}
#global #lg{
	margin-top:2px;
	margin-right:0;
	margin-bottom:8px;	
}
#global #entete #disp{
	float:none;	
	display:block;
}
body{
	padding:0 !important;
}
#global{
	margin:auto;	
}
#global #entete #recherche{
	padding-left:0;
	text-align:left;
	clear:both;
	display:inline-block;
	width:85%;
	margin-left:2%;
	margin-right:0;
}
#global #entete #topic_title{
	width:65%;
}
#global #facets{
	padding-top:4px;
}
#global #listp31{
	margin-left:2%;
}
#global .criteres{
	padding-left:2%;	
}
#global #form_facets select,#global #form_facets input{
	font-size:1.1em;
}
#global #slider{
	margin-top:	8px;
	display:block;
	text-align:center;
}
#global #slider input{
	width:4em;	
}
#global #slider-range{
	display:none;
}
#global #entete .criteres{
	padding-left:2%;	
	padding-top:0;
}
#global #entete .alea{
	display:none;	
}
#global #entete #res_nav{
	margin-top:10px;
	margin-left:0;	
	padding:0 0 0 2%;
	text-align:left;	
}
#global #miss_props{
	margin:2px 2%;
}
#global .nav{
	margin-right:0;	
}
#global .nav_small{
	display:inline;	
}
#global .contentsolo{
	padding-right:0;
}
#global .item { 
	padding-bottom:15px;
	font-size:0.9em;
	margin:auto;
	float:none;
	height:auto;
	width:100%;
	max-width:none;
	min-width:none;
}
#global .thumb{
	height:auto;
}
#global .thumb div{
	top:auto;
	transform:none;
}
#global .thumb img{
	width:100%;
}
#global .sep{
	display:block;
	height:5px;	
}
#global .img_info{
	display:block;
}
#global #contenu .facet{
	width:100%;	
}

/* Cosmos */
#global #facets{
	margin-left:2%;
}