/* --- STYLES DE BASE --- */
/* Page */
html {
	font-size: 100%; /* Évite un bug d'IE 6-7.*/
}
body {
	margin: 0;
	padding: 0 0 1em 1em; /* Remettre à zéro si nécessaire. */
	font-family: Arial, Helvetica, FreeSans, sans-serif; 
	font-size: 13px; /* À adapter pour la police choisie.  */
	line-height: 1.3; /* À adapter au design. */
	-webkit-font-smoothing: antialiased; 
	-moz-font-smoothing: antialiased; 
	-o-font-smoothing: antialiased;
}
/* Titres */
h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em 0; /* Rapproche le titre du texte.  */
	line-height: 1.2;
	font-weight: bold; /* Valeur par défaut. */
	font-style: normal;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.25em;
}
h4 {
	font-size: 1em;
}
/* Listes */
ul, ol {
	margin: .75em 0 .75em 32px;
	padding: 0;
}
li{
	list-style-type:none;	
}
/* Paragraphes */
p {
	margin: .75em 0; /* Marges plus faibles que par défaut. (7) */
}
address {
	margin: .75em 0;
	font-style: normal;
}
/* Liens */
a {
	text-decoration: none;
}
a:link,a:visited {
	text-decoration: none;
}
a:hover, a:focus, a:active {
	text-decoration: underline;
}
/* Pas de bordure autour des images dans les liens */
a img, footer img {
	border-width:1px;
	border-style:solid;
}
/* Divers éléments de type en-ligne (8) */
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
/* Formulaires */
form, fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
input, button, select {
	vertical-align: middle; /* Solution pb. d'alignement.  */
}
/* / */
ul span{
	font-size:12px;
}
#bas{
	clear:both;
	padding-top:30px;
	margin-bottom:30px;
}
.nav{
	clear:both;
	margin-bottom:12px;
}
.navbas{
	clear:both;
	padding-top:10px;	
}
/* access */
nav {
	text-align:right;
	padding-right:2em;
}
#access{
	font-size:0.8em;
}
ul#access {
	padding:0;
	margin:0;	
}
#access li {
	display:inline;
}
/* Bloc entete */
#bl_titre {
	float:left;
	width:240px;
	z-index:10;	
}
#lk_img{
	display:block;
	float:left;
}
#bl_titre img{
	vertical-align:top;
}
#bl_titre a,#bl_titre a:link ,#bl_titre a:visited{
	text-decoration:none;
}
#bl_titre a:hover,#bl_titre a:focus,#bl_titre a:active{
	text-decoration:underline;
}
#bl_titre h1{
	display:block;
	margin-left:117px;
	padding-top:10px;
	margin-top:0;
	margin-bottom:3px;
	font-weight:bold;
	font-size:22px ;
	line-height:1em;
}
#lab{
	margin-left:137px;
	font-size:90%;
}
#callisto{
	margin-left:137px;
	font-size:90%;
}
#cosmos{
	margin-left:137px;
	margin-top:8px;
	font-size:90%;
}
#new{
	margin-top:27px;
	margin-left:117px;
	font-size:90%;	
}
#params{
	text-align:right;
	padding-right:22px;
	margin-bottom:1.5em;
}
#lg{
	margin-right:1em;
}
.lg_min{
	font-size:0.75em;	
}
#contrib{
	padding-top:5px;
	clear:right;
	float:right;
	font-size:12px;
	font-weight:bold;
}
#contrib span{
	font-size:1.1em;
}
#disp{
	float:right;
	padding-top:5px;
	clear:right;
	z-index:47;
}
#disp img{
	vertical-align:middle;	
}
#recherche{
	margin-left:280px;
	margin-right:100px;
	padding-left:20px;	
	position:relative;
	text-align:left;
	white-space : nowrap;
}
#recherche input{
	font-size:1.5em;	
}
#recherche  #ok,  #ok2{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration: none;
	vertical-align: middle;
	cursor:pointer;
}
#recherche #ok{
	height:2em;
	font-size:1.2em;
	padding-left:15px;
	padding-right:15px;
}
#ok2{
	height:1.8em;
	margin-left:12px;
	padding:0 9px;
}
#topic_title{
	margin-right:0em;
	width:420px;
	padding-left:4px;
}
#ok{
	margin-left:0.1em;
}
.ui-helper-hidden-accessible{
	display:inline-block;
	font-size:1.2em;
	position:absolute;
	top:5px;
	margin-left:-152px;
}
.criteres{
	text-align:left;
	vertical-align: baseline; 
	position: relative; 
	bottom: -2px;
	font-weight:bold;
}
.libelle_criteres{
	font-weight:normal;
	margin-left:10px;
}
.criteres img{
	vertical-align:middle;
	border:none;
	margin-right:5px;
}
.crit_sel{
	position:relative;
	bottom:1px;
}
#facets{
	clear:both;	
	padding-top:12px;
	text-align:left;
	padding-right:22px;
	position:relative;
	padding-left:1px;
}
#listp31{
	display:inline-block;
}
#facets input{
	text-align:right;	
}
#amount1,#amount2{
	width:3.5em;
}
#slider{
	display:inline-block;
	float:right;
	margin-left:15px;	
	margin-top:-2px;
}
#slider-range{
	margin:0 10px;
	width:300px;
	display:inline-block;
	vertical-align:middle;
}
#res_nav{
	text-align:left;
	margin-top:15px;
	margin-left:280px;
	padding-left:21px;
	font-weight:bold;
}
#res_nav span{
	font-weight:normal;
}
#miss_props{
	margin:9px 0 12px 0;
	clear:both;
}
#miss_props label{
	vertical-align:middle;
}
#miss_props span{
	white-space: nowrap;
}
/* navigation -résultats*/
.nav{
	font-size:1.2em;
	text-align:center;
	margin-right:10em;
	font-size:0.9em;
}
.navhaut{
	margin:12px 8em 15px 0;
	clear:both;
}
.page_ec{
	font-weight:bold;
}
.nav_list a,.page_ec{
	padding-right:7px;
	padding-left:7px;
	height: 1.8em;
	line-height: 1.8em;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin: 0 0.4em 0 0;
	border-radius: 4px;
	box-shadow: inset 0 0.075em 0.25em 0 rgba(0,0,0,0.1);
}
.nav_list a:hover,.nav_list a:active{
	box-shadow: none;
}
.nav_list .precsuiv{
	width:auto;	
	padding-right:8px;
	padding-left:8px;
}
.nav_small{
	display:none;	
}
.random{
	margin-right:25px;	
}
.alea{
	margin-left:10px;
}
/* Blocs images */
.contentsolo{
	padding-right:20px;
}
.item { 
	height:340px;
	float:left;
	font-size:12px;
	margin-right:10px;
	max-width:322px;
	min-width:202px;
}
.thumb{
	text-align:center;
}
.multiimg{
	height:242px;
}
.multiimg div {
	position:relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.soloimg img{
	width:100%;
}
.entete{
	min-height:21px;	
	padding:0 10px 0 5px;
}
.cartel{
	margin-top:4px;
}
a.interne,a.interne:link,a.interne:link {
	font-size:0.95em;
}
a.interne:hover,a.interne:focus,a.interne:active {
	font-size:0.95em;
}
.solo{
	font-size:0.9em;
	float:none;
	height:inherit;
	margin:auto;
}
.btn_notice{
	padding-top:4px;
	padding-left:2px;
	float:left;
}
.notice{
	display:block;
	border-bottom-left-radius:5px ;
	-moz-border-bottom-left-radius:5px ;
	-webkit-border-bottom-left-radius:5px ;
	-khtml-border-bottom-left-radius:5px ;
	border-bottom-right-radius:5px ;
	-moz-border-bottom-right-radius:5px ;
	-webkit-border-bottom-right-radius:5px ;
	-khtml-border-bottom-right-radius:5px ;
	padding: 0 8px 10px 8px;
	position:relative;
	z-index:47;
	margin-top:-4px;
}
.start_cartel{
	padding-top:5px;	
}
.act_not{
	margin-bottom:2px;
	padding-right:3px;
	text-align:right;
}
.act_not img{
	vertical-align:bottom;
	
}
.lgWP{
	font-size:90%;	
}
.lien_notice{
	cursor:pointer;
}
.libelle{
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.notice img{
	vertical-align:middle;
	margin-right:5px;
}
.liens{
	margin-top:20px;	
}
.cartel img{
	border:0;	
}
.commons_link{
	font-weight:bold;
}
.credit_img{
	float:left;	
	margin-left:-4px;
}
.credit_txt{
	margin-left:32px;
	padding-top:5px;	
	min-height:30px;
}
.contentsolo .img_info{
	display:block;
}
.img_info{
	display:none;
}
/* autocomplete */
.ui-autocomplete-loading {
    background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}
footer {
    margin-top: 3em;
    padding-right: 1em;
    text-align: right;
	clear:both;
}
footer img{
	margin-left:5px;
	margin-right:5px;
}
footer.marge{
	margin-top:3em;	
}	
#lg_rtl{
	direction:rtl;	
	padding-right:2em;
	padding-left:0;
}
#lg_rtl #bl_titre{
	float:right;
	margin-left:0px;
}
#lg_rtl #lk_img{
	float:right;
	margin-right:0px;
}
#lg_rtl h1{
	margin-left:0;
	margin-right:117px;
}
#lg_rtl #cosmos,#lg_rtl #lab,#lg_rtl #new{
	margin-right:127px;
}
#lg_rtl #params{
	text-align:left;
	padding-left:0;	
}
#lg_rtl #disp{
	clear:left;
	float:left;
	padding-left:20px;	
}
#lg_rtl #recherche{
	margin-left:100px;
	margin-right:280px;
	padding-left:0;	
	padding-right:20px;	
}
#lg_rtl .autocomplete-suggestions{
	text-align:right;	
}
#lg_rtl #res_nav{
	margin-right:280px;
	padding-left:0;	
	padding-right:21px;	
}
#lg_rtl #facets{
	text-align:right;
	padding-right:0;
}
#lg_rtl #slider{
	float:left;
	margin-left:5px;
	margin-right:15px;
}
#lg_rtl #listp31{
	margin-right:0;
	margin-left:10px;	
}
#lg_rtl #contrib{
	clear:left;
	float:left;
	padding-left:20px;	
}
#lg_rtl #nb{
	margin-left:20px;	
}
#lg_rtl #recherche,#lg_rtl #res_nav{
	text-align:right;
}
#lg_rtl .criteres{
	text-align:right;
}
#lg_rtl #miss_props{
	margin-left:12px;
}
#lg_rtl .alea{
	margin-right:10px;
}
#lg_rtl .item{
	float:right;
}
#lg_rtl .notice img {
     margin-left:5px;
}
#lg_rtl .fac_list a,#lg_rtl .fac_ec{
	margin-right:0;
	margin-left:18px;	
}
#lg_rtl .bandeau div{
	padding-right:15px;
	padding-left:0;
}
#timer{
	clear:both;
	float:left;	
}
.update{
	margin: 15px 0;
}
/* autoComplete styles */
.autocomplete-suggestions {
	text-align: left; cursor: pointer; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);
	position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0; line-height: 23px; white-space: nowrap; overflow: hidden; font-size: 1.02em; color: #333;border-top:1px solid #eee ;}
.autocomplete-suggestion:first-child {border-top:0}
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.ims{
	line-height: 32px;
}
.is{
	display:inline-block;
	width:75px;
	text-align:center;
	position:relative;
	top:5px;
}
.lbs{
	position:relative;
	top:-5px;
	display:inline-block;
}
.lbi{
	color:#717171;
}
.lis{
	color:#717171;
	display:inline-block;
	min-width:67px;
	position:relative;
	left:3px;
	margin-right:5px;
	text-overflow: clip;
}
.als{
	color:#717171;
}
.autocomplete-suggestion.selected{
	background: #eee;
}
/* Cosmos */
.fac_list{
	margin-top:-2px;	
	padding-bottom:2px;
}
.fac_list a,.fac_ec{
	padding-right:12px;
	padding-left:12px;
	height: 1.7em;
	line-height: 1.7em;
	font-size:100%;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin: 0 18px 0 0;
	border-radius: 3px;
	box-shadow: inset 0 0.075em 0.25em 0 rgba(0,0,0,0.1);
	margin-top:2px;
	font-weight:bold;	
}
#min{
	white-space:nowrap;
	line-height: 2em;
}
.fac_list a:hover,.fac_list a:active{
	box-shadow: none;
}
#contenu .facet{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	width:320px;
	height:240px;
	position:relative;
	margin-bottom:15px;
	margin-right:15px;
	display:block;
	cursor:pointer;
}
.link_facet:link,.link_facet:visited,.link_facet:focus,.link_facet:hover,.link_facet:active{
	color:#fff;
	opacity:1;
}
.link_qwd:link,.link_qwd:visited,.link_qwd:focus,.link_qwd:hover,.link_qwd:active{
	color:#323232;
	opacity:100%;
}
.bandeau{
	width:100%;
	position:absolute;
	top:161px;
	background-color:#000000;
	opacity:0.8;
	color:#FFFFFF;
	font-size:150%;
}
.bandeau div{
	padding:3px 0 3px 15px;
}
.link_qwd{
	position:absolute;
	bottom:2px;
	right:5px;
	font-size:9px;
	color:#323232;
	display:inline-block;
}
.nbimg{
	color:#e2e2e2;	
	font-size:75%;
}
.nbres{
	font-size:80%;
}