#global #entete #params{
	position: absolute;
	right: 0;
}
#global #bl_titre h1{
	padding-top:2px;	
}
#global #entete #bl_titre{
	width:270px;
	height:65px;
}#global #search,#global #callisto,#global #lab,#global #cosmos{
	display:inline;
}
#global #search{
	margin-left:6px
}
#global #search::after { 
	content: " - ";
}
#global #cosmos{
	margin-left:0px
}
#global #cosmos::after { 
	content: " - ";
}
#global #callisto{
	margin-left:0px
}
#global #callisto::after { 
	content: "";
}
#facets .fac_list a,#facets .fac_ec {
	margin:0 5px 5px 0;
}